#### Carregando base de dados

In [29]:
import pandas as pd

vendas = pd.read_excel(r'base_dados/Vendas.xlsx')
lojas = pd.read_csv(r'base_dados/Lojas.csv', encoding='latin1', sep=';')
email = pd.read_excel(r'base_dados/Emails.xlsx')

display(vendas)
display(lojas)
display(email)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

    ID Loja                              Loja
0         1                Iguatemi Esplanada
1         2              Shopping Midway Mall
2         3                    Norte Shopping
3         4       Shopping Iguatemi Fortaleza
4         5          Shopping União de Osasco
5         6        Shopping Center Interlagos
6         7                    Rio Mar Recife
7         8                 Salvador Shopping
8         9        Rio Mar Shopping Fortaleza
9        10  Shopping Center Leste Aricanduva
10       11                 Ribeirão Shopping
11       12                  Shopping Morumbi
12       13         Parque Dom Pedro Shopping
13       14               Bourbon Shopping SP
14       15       Palladium Shopping Curitiba
15       16         Passei das Águas Shopping
16       17        Center Shopping Uberlândia
17       18                   Shopping Recife
18       19               Shopping Vila Velha
19       20                Shopping SP Market
20       21                 Shopping Eldorado
21       22               Shopping Ibirapuera
22       23      Novo Shopping Ribeirão Preto
23       24                 Iguatemi Campinas
24       25                    Shopping Barra

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
1,Shopping Midway Mall,Alice,romuloptmota+alice@gmail.com
2,Norte Shopping,Laura,romuloptmota+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,romuloptmota+manuela@gmail.com
4,Shopping União de Osasco,Valentina,romuloptmota+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,romuloptmota+sophia@gmail.com
6,Rio Mar Recife,Isabella,romuloptmota+isabella@gmail.com
7,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,romuloptmota+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,romuloptmota+julia@gmail.com
10,Ribeirão Shopping,Lorena,romuloptmota+lorena@gmail.com
11,Shopping Morumbi,Livia,romuloptmota+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,romuloptmota+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,romuloptmota+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,romuloptmota+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,romuloptmota+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,romuloptmota+arthur@gmail.com
17,Shopping Recife,Heitor,romuloptmota+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,romuloptmota+bernardo@gmail.com
19,Shopping SP Market,Davi,romuloptmota+davi@gmail.com
20,Shopping Eldorado,Theo,romuloptmota+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,romuloptmota+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,romuloptmota+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,romuloptmota+pedro@gmail.com
24,Shopping Barra,Benjamin,romuloptmota+benjamin@gmail.com
25,Diretoria,Diretoria,romuloptmota+diretoria@gmail.com

#### Criando pastas de backup

In [30]:
from pathlib import Path
# Criação de pasta de indicadores
try:
    Path('base_dados/indicadores_lojas').mkdir()
except:
    pass
# Criação de pastas para cada loja
lojas_df = lojas['Loja']
for loja in lojas_df:
    try:
        Path("base_dados/indicadores_lojas/{}".format(loja)).mkdir()
    except:
        pass
print('Pastas Criadas')

Pastas Criadas

#### Criando relatorio para cada loja, e armazenando em suas respectivas pastas de backup

In [31]:
# Criado time para definir o dia do da realização do backup
import time
data_atual = time.gmtime()
dia = data_atual.tm_mday
mes = data_atual.tm_mon
ano = data_atual.tm_year
data_atual = '{}_{}_{}'.format(dia, mes, ano)

# Criado copia dos dados de cada loja, e armazenado em suas respectivas pastas
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    vendas_loja = vendas.groupby('ID Loja').get_group(loja)
    # vendas_loja = vendas_loja.drop(columns=['ID Loja'])
    nome_loja = lojas['Loja'][loja - 1]
    vendas_excel = vendas_loja.to_excel(f'base_dados/indicadores_lojas/{nome_loja}/relatorio_{data_atual}_{nome_loja}.xlsx')

print('Relarios Salvos')

Relarios Salvos

#### Unificando algumas bases

In [32]:
vendas_df = vendas.merge(lojas, on='ID Loja')
vendas_df = vendas_df.merge(email, on='Loja')

display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja,Gerente,E-mail
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
...,...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Estampa,2,96,192,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
100995,69846,2019-12-25,8,Tênis Estampa,5,256,1280,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
100996,69850,2019-12-25,8,Calça Estampa,4,177,708,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
100997,69972,2019-12-26,8,Terno Liso,3,720,2160,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
100998,69972,2019-12-26,8,Sapato Estampa,5,358,1790,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com

#### Indicador 1 Anual (Faturmaento das lojas)

In [34]:
# Identificado entrada de valores por loja, e soma de todos valores para cada unidade
faturamento_anual = vendas_df[['ID Loja', 'Valor Final']]
faturamento_anual = faturamento_anual.groupby(['ID Loja']).sum(['Valor Final'])

display(faturamento_anual)

         Valor Final
ID Loja
1            1699681
2            1590441
3            1711968
4            1674824
5            1663770
6            1640486
7            1722766
8            1646739
9            1698430
10           1682870
11           1707122
12           1586444
13           1631630
14           1726110
15           1721120
16           1649014
17           1668921
18           1624879
19           1731167
20           1721763
21           1648111
22           1635060
23           1678225
24           1762419
25           1653103

#### Indicador 2 Anual (Quantos produtos diferentes foram vedidos)

In [35]:
# Identificando produtos vendidos em cada loja, e removenco os duplicados para contagem de produtos diferente vendidos
qts_prod_loja = []
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    qts_prod_anual = vendas_df[['ID Loja', 'Produto']]
    qts_prod_anual = qts_prod_anual.groupby('ID Loja').get_group(loja)
    qts_prod_anual = qts_prod_anual['Produto']
    qts_prod_anual = pd.unique(qts_prod_anual)
    qts_prod_anual = len(qts_prod_anual)
    qts_prod_loja.append(qts_prod_anual)

qts_prod_lojas = lojas
qts_prod_lojas['Qts. Prod. Ano'] = qts_prod_loja
qts_prod_lojas = qts_prod_lojas[['ID Loja', 'Loja', 'Qts. Prod. Ano']]

display(qts_prod_lojas)

    ID Loja                              Loja  Qts. Prod. Ano
0         1                Iguatemi Esplanada             120
1         2              Shopping Midway Mall             120
2         3                    Norte Shopping             120
3         4       Shopping Iguatemi Fortaleza             120
4         5          Shopping União de Osasco             120
5         6        Shopping Center Interlagos             120
6         7                    Rio Mar Recife             120
7         8                 Salvador Shopping             120
8         9        Rio Mar Shopping Fortaleza             120
9        10  Shopping Center Leste Aricanduva             120
10       11                 Ribeirão Shopping             120
11       12                  Shopping Morumbi             120
12       13         Parque Dom Pedro Shopping             120
13       14               Bourbon Shopping SP             120
14       15       Palladium Shopping Curitiba             120
15       16         Passei das Águas Shopping             120
16       17        Center Shopping Uberlândia             120
17       18                   Shopping Recife             120
18       19               Shopping Vila Velha             120
19       20                Shopping SP Market             120
20       21                 Shopping Eldorado             120
21       22               Shopping Ibirapuera             120
22       23      Novo Shopping Ribeirão Preto             120
23       24                 Iguatemi Campinas             120
24       25                    Shopping Barra             120

#### Indicador 1 Diario (Faturmaento das lojas)

In [36]:
# Identificando valores de cada loja, separado e agrupado todos valores de mesmo dia a fim de pegar o valor do ultimo dia
faturamento_dia_loja = []
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    faturamento_dia = vendas_df[['ID Loja','Data', 'Valor Final']]
    faturamento_dia = faturamento_dia.groupby('ID Loja').get_group(loja)
    faturamento_dia = faturamento_dia[['Data', 'Valor Final']]
    faturamento_dia = faturamento_dia.groupby('Data').sum('Valor Final')
    faturamento_dia = faturamento_dia.iloc[-1]
    faturamento_dia_loja.append(faturamento_dia['Valor Final'])

fat_dia_lojas = lojas
fat_dia_lojas['Fat. dia Lojas'] = faturamento_dia_loja
fat_dia_lojas = fat_dia_lojas[['ID Loja', 'Fat. dia Lojas']]

display(fat_dia_lojas)

    ID Loja  Fat. dia Lojas
0         1            8521
1         2             170
2         3            1259
3         4            4082
4         5            1207
5         6            1582
6         7            6380
7         8            3950
8         9             368
9        10             485
10       11             650
11       12            1562
12       13            7655
13       14             676
14       15             381
15       16            4899
16       17            2651
17       18            1366
18       19             937
19       20            8171
20       21            2391
21       22             118
22       23            3400
23       24            6757
24       25            4134

#### Indicador 2 Diario (Quantos produtos diferentes foram vedidos)

In [37]:
# Identificado saida de produtos do ultimo dia de cada loja
qts_prod_dia_loja = []
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    qts_prod_dia = vendas_df[['ID Loja', 'Data', 'Produto']]
    qts_prod_dia =  qts_prod_dia.groupby('ID Loja').get_group(loja)
    qts_prod_dia = qts_prod_dia[['Data', 'Produto']]
    ultimo_dia = str(qts_prod_dia['Data'].iloc[-1])
    ultimo_dia = ultimo_dia[:10]
    qts_prod_dia = qts_prod_dia.groupby('Data').get_group(ultimo_dia)
    qts_prod_dia = qts_prod_dia['Produto']
    qts_prod_dia = pd.unique(qts_prod_dia)
    qts_prod_dia_loja.append(len(qts_prod_dia))

qts_prod_dia_lojas = lojas
qts_prod_dia_lojas['Qts.prod.dia'] = qts_prod_dia_loja
qts_prod_dia_lojas = qts_prod_dia_lojas[['ID Loja', 'Qts.prod.dia']]

display(qts_prod_dia_lojas)

    ID Loja  Qts.prod.dia
0         1            11
1         2             1
2         3             2
3         4            12
4         5             3
5         6             2
6         7            18
7         8             2
8         9             1
9        10             2
10       11             3
11       12             8
12       13            10
13       14             1
14       15             2
15       16             4
16       17             4
17       18             3
18       19             3
19       20            17
20       21             2
21       22             1
22       23             6
23       24            14
24       25            13

#### União dos dados dos indicadores

In [39]:
# Unindo base de todos inidicadore anuais e diario
dados_df = faturamento_anual
dados_df = dados_df.merge(fat_dia_lojas, on='ID Loja')
dados_df = dados_df.merge(qts_prod_dia_lojas, on='ID Loja')
dados_df = dados_df.merge(qts_prod_lojas, on='ID Loja')

# Renomeando colunas para melhor visualização
dados_df = dados_df[['Loja', 'ID Loja', 'Fat. dia Lojas', 'Valor Final', 'Qts.prod.dia', 'Qts. Prod. Ano']]
dados_df = dados_df.rename(columns={'Fat. dia Lojas': 'Faturamento Diário'})
dados_df = dados_df.rename(columns={'Valor Final': 'Faturamento Anual'})
dados_df = dados_df.rename(columns={'Qts.prod.dia': 'Diversidade Prod. Dia'})
dados_df = dados_df.rename(columns={'Qts. Prod. Ano': 'Diversidade Prod. Anual'})

display(dados_df)

,Loja,ID Loja,Faturamento Diário,Faturamento Anual,Diversidade Prod. Dia,Diversidade Prod. Anual
0,Iguatemi Esplanada,1,8521,1699681,11,120
1,Shopping Midway Mall,2,170,1590441,1,120
2,Norte Shopping,3,1259,1711968,2,120
3,Shopping Iguatemi Fortaleza,4,4082,1674824,12,120
4,Shopping União de Osasco,5,1207,1663770,3,120
5,Shopping Center Interlagos,6,1582,1640486,2,120
6,Rio Mar Recife,7,6380,1722766,18,120
7,Salvador Shopping,8,3950,1646739,2,120
8,Rio Mar Shopping Fortaleza,9,368,1698430,1,120
9,Shopping Center Leste Aricanduva,10,485,1682870,2,120
10,Ribeirão Shopping,11,650,1707122,3,120
11,Shopping Morumbi,12,1562,1586444,8,120
12,Parque Dom Pedro Shopping,13,7655,1631630,10,120
13,Bourbon Shopping SP,14,676,1726110,1,120
14,Palladium Shopping Curitiba,15,381,1721120,2,120
15,Passei das Águas Shopping,16,4899,1649014,4,120
16,Center Shopping Uberlândia,17,2651,1668921,4,120
17,Shopping Recife,18,1366,1624879,3,120
18,Shopping Vila Velha,19,937,1731167,3,120
19,Shopping SP Market,20,8171,1721763,17,120
20,Shopping Eldorado,21,2391,1648111,2,120
21,Shopping Ibirapuera,22,118,1635060,1,120
22,Novo Shopping Ribeirão Preto,23,3400,1678225,6,120
23,Iguatemi Campinas,24,6757,1762419,14,120
24,Shopping Barra,25,4134,1653103,13,120

#### Envio de e-mail para todos gerentes

In [40]:
# Dados necessarios para e-mails
dados_email = lojas
dados_email = dados_email.merge(email, on='Loja')
dados_email = dados_email[['ID Loja', 'Loja', 'Gerente', 'E-mail']]

display(dados_email)

,ID Loja,Loja,Gerente,E-mail
0,1,Iguatemi Esplanada,Helena,romuloptmota+helena@gmail.com
1,2,Shopping Midway Mall,Alice,romuloptmota+alice@gmail.com
2,3,Norte Shopping,Laura,romuloptmota+laura@gmail.com
3,4,Shopping Iguatemi Fortaleza,Manuela,romuloptmota+manuela@gmail.com
4,5,Shopping União de Osasco,Valentina,romuloptmota+valentina@gmail.com
5,6,Shopping Center Interlagos,Sophia,romuloptmota+sophia@gmail.com
6,7,Rio Mar Recife,Isabella,romuloptmota+isabella@gmail.com
7,8,Salvador Shopping,Heloisa,romuloptmota+heloisa@gmail.com
8,9,Rio Mar Shopping Fortaleza,Luiza,romuloptmota+luiza@gmail.com
9,10,Shopping Center Leste Aricanduva,Julia,romuloptmota+julia@gmail.com
10,11,Ribeirão Shopping,Lorena,romuloptmota+lorena@gmail.com
11,12,Shopping Morumbi,Livia,romuloptmota+livia@gmail.com
12,13,Parque Dom Pedro Shopping,Maria Luiza,romuloptmota+maria_luiza@gmail.com
13,14,Bourbon Shopping SP,Cecilia,romuloptmota+cecilia@gmail.com
14,15,Palladium Shopping Curitiba,Eloa,romuloptmota+eloa@gmail.com
15,16,Passei das Águas Shopping,Miguel,romuloptmota+miguel@gmail.com
16,17,Center Shopping Uberlândia,Arthur,romuloptmota+arthur@gmail.com
17,18,Shopping Recife,Heitor,romuloptmota+heitor@gmail.com
18,19,Shopping Vila Velha,Bernardo,romuloptmota+bernardo@gmail.com
19,20,Shopping SP Market,Davi,romuloptmota+davi@gmail.com
20,21,Shopping Eldorado,Theo,romuloptmota+theo@gmail.com
21,22,Shopping Ibirapuera,Lorenzo,romuloptmota+lorenzo@gmail.com
22,23,Novo Shopping Ribeirão Preto,Gabriel,romuloptmota+gabriel@gmail.com
23,24,Iguatemi Campinas,Pedro,romuloptmota+pedro@gmail.com
24,25,Shopping Barra,Benjamin,romuloptmota+benjamin@gmail.com

In [41]:
import win32com.client as win32
import pathlib
import time
outlook = win32.Dispatch('outlook.application')

# metas estabelecidas para indicadores
meta_fat_ano = 1650000
meta_fat_dia = 1000
meta_prod_ano = 120
meta_prod_dia = 4

# data formatada para corpo do e-mail
data_email = time.gmtime()
dia = data_email.tm_mday
mes = data_email.tm_mon
ano = data_email.tm_year
data_email = '{}/{}/{}'.format(dia, mes, ano)

# Criação de disparo de e-mail para cada loja
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    nome_loja_email = lojas['Loja'][loja - 1]

    # retorno de cada indicadores para os gerentes
    fat_dia = 'Bateu meta' if dados_df['Faturamento Diário'][loja - 1] >= meta_fat_dia else 'Valor baixo'
    fat_ano = 'Bateu meta' if dados_df['Faturamento Anual'][loja - 1] >= meta_fat_ano else 'Valor baixo'
    prod_dia = 'Bateu meta' if dados_df['Diversidade Prod. Dia'][loja - 1] >= meta_prod_dia else 'Valor baixo'
    prod_ano = 'Bateu meta' if dados_df['Diversidade Prod. Anual'][loja - 1] >= meta_prod_ano else 'Valor baixo'

    """
    - Criação do corpo do e-mail com todoas as informações, indicadores, e retorno dos indicadores
    - Criação da tabela do e-mail de indicadores em HTML 'requisito do win32com.client'
    """

    corpo_email = f"""
    <p>Bom dia, {dados_email['Gerente'][loja - 1]}</p>

    <p>O resultado dos indicadores do dia "{data_email}" e ultimo ano da loja {nome_loja_email} foi:</p>

    <table>
        <tr>
            <th scope="col">Indicadores</th>
            <th scope="col">Valor dia</th>
            <th scope="col">Meta dia</th>
            <th scope="col">Cenário dia</th>
        </tr>
        <tr>
            <td>Indicador 1</td>
            <td style="text-align: center">{dados_df['Faturamento Diário'][loja - 1]:.2f}</td>
            <td style="text-align: center">{meta_fat_dia:.2f}</td>
            <td style="text-align: center">{fat_dia}</td>
        </tr>
        <tr>
            <td>Indicador 2</td>
            <td style="text-align: center">{dados_df['Diversidade Prod. Dia'][loja - 1]}</td>
            <td style="text-align: center">{meta_prod_dia}</td>
            <td style="text-align: center">{prod_dia}</td>
        </tr>
         <tr>
            <th scope="col">Indicadores</th>
            <th scope="col">Valor ano</th>
            <th scope="col">Meta ano</th>
            <th scope="col">Cenário ano</th>
        </tr>
        <tr>
            <td>Indicador 1</td>
            <td style="text-align: center">{dados_df['Faturamento Anual'][loja - 1]:.2f}</td>
            <td style="text-align: center">{meta_fat_ano:.2f}</td>
            <td style="text-align: center">{fat_ano}</td>
        </tr>
        <tr>
            <td>Indicador 2</td>
            <td style="text-align: center">{dados_df['Diversidade Prod. Anual'][loja - 1]}</td>
            <td style="text-align: center">{meta_prod_ano}
            <td style="text-align: center">{prod_ano}</td>
        </tr>
    </table>

    <p>Segue em anexo a planilha com todos os dados para mais detalhes.</p>

    <p>Qualquer dúvida, estou à disposção.</p>
    <p>Att.</p>
    """

    # ativador outlook, mais para onde enviar
    mail = outlook.CreateItem(0)
    mail.To = f"{dados_email['E-mail'][loja - 1]}"

    # Titulo e-mail e corpo do e-mail
    mail.Subject = f'OnePage Dia {data_atual} Loja {nome_loja_email}'
    mail.HTMLBody = corpo_email

    # Anexando arquivos usados para análise de cada loja individual
    attachment  = pathlib.Path.cwd() /f'base_dados' / f'indicadores_lojas' / f'{nome_loja_email}' / f'relatorio_{data_atual}_{nome_loja_email}.xlsx'
    mail.Attachments.Add(str(attachment))

    mail.Send()

    print(f'Email da loja {nome_loja_email} enviado')

Email da loja Iguatemi Esplanada enviado
Email da loja Shopping Midway Mall enviado
Email da loja Norte Shopping enviado
Email da loja Shopping Iguatemi Fortaleza enviado
Email da loja Shopping União de Osasco enviado
Email da loja Shopping Center Interlagos enviado
Email da loja Rio Mar Recife enviado
Email da loja Salvador Shopping enviado
Email da loja Rio Mar Shopping Fortaleza enviado
Email da loja Shopping Center Leste Aricanduva enviado
Email da loja Ribeirão Shopping enviado
Email da loja Shopping Morumbi enviado
Email da loja Parque Dom Pedro Shopping enviado
Email da loja Bourbon Shopping SP enviado
Email da loja Palladium Shopping Curitiba enviado
Email da loja Passei das Águas Shopping enviado
Email da loja Center Shopping Uberlândia enviado
Email da loja Shopping Recife enviado
Email da loja Shopping Vila Velha enviado
Email da loja Shopping SP Market enviado
Email da loja Shopping Eldorado enviado
Email da loja Shopping Ibirapuera enviado
Email da loja Novo Shopping Ribeirão Preto enviado
Email da loja Iguatemi Campinas enviado
Email da loja Shopping Barra enviado