#### Carregando base de dados

In [5]:
import pandas as pd

vendas = pd.read_excel(r'base_dados/Vendas.xlsx')
lojas = pd.read_csv(r'base_dados/Lojas.csv', encoding='latin1', sep=';')
email = pd.read_excel(r'base_dados/Emails.xlsx')

display(vendas)
display(lojas)
display(email)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

    ID Loja                              Loja
0         1                Iguatemi Esplanada
1         2              Shopping Midway Mall
2         3                    Norte Shopping
3         4       Shopping Iguatemi Fortaleza
4         5          Shopping União de Osasco
5         6        Shopping Center Interlagos
6         7                    Rio Mar Recife
7         8                 Salvador Shopping
8         9        Rio Mar Shopping Fortaleza
9        10  Shopping Center Leste Aricanduva
10       11                 Ribeirão Shopping
11       12                  Shopping Morumbi
12       13         Parque Dom Pedro Shopping
13       14               Bourbon Shopping SP
14       15       Palladium Shopping Curitiba
15       16         Passei das Águas Shopping
16       17        Center Shopping Uberlândia
17       18                   Shopping Recife
18       19               Shopping Vila Velha
19       20                Shopping SP Market
20       21                 Shopping Eldorado
21       22               Shopping Ibirapuera
22       23      Novo Shopping Ribeirão Preto
23       24                 Iguatemi Campinas
24       25                    Shopping Barra

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
1,Shopping Midway Mall,Alice,pythonimpressionador+alice@gmail.com
2,Norte Shopping,Laura,pythonimpressionador+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,pythonimpressionador+manuela@gmail.com
4,Shopping União de Osasco,Valentina,pythonimpressionador+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,pythonimpressionador+sophia@gmail.com
6,Rio Mar Recife,Isabella,pythonimpressionador+isabella@gmail.com
7,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,pythonimpressionador+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,pythonimpressionador+julia@gmail.com
10,Ribeirão Shopping,Lorena,pythonimpressionador+lorena@gmail.com
11,Shopping Morumbi,Livia,pythonimpressionador+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,pythonimpressionador+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,pythonimpressionador+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,pythonimpressionador+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,pythonimpressionador+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,pythonimpressionador+arthur@gmail.com
17,Shopping Recife,Heitor,pythonimpressionador+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,pythonimpressionador+bernardo@gmail.com
19,Shopping SP Market,Davi,pythonimpressionador+davi@gmail.com
20,Shopping Eldorado,Theo,pythonimpressionador+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,pythonimpressionador+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,pythonimpressionador+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,pythonimpressionador+pedro@gmail.com
24,Shopping Barra,Benjamin,pythonimpressionador+benjamin@gmail.com
25,Diretoria,Diretoria,pythonimpressionador+diretoria@gmail.com

#### Criando pastas de backup

In [8]:
from pathlib import Path
# Criação de pasta de indicadores
try:
    Path('base_dados/indicadores_lojas').mkdir()
except:
    pass
# Criação de pastas para cada loja
lojas_df = lojas['Loja']
for loja in lojas_df:
    try:
        Path("base_dados/indicadores_lojas/{}".format(loja)).mkdir()
    except:
        pass
print('Pastas Criadas')

Pastas Criadas

#### Criando relatorio para cada loja, e armazenando em suas respectivas pastas de backup

In [ ]:
# Criado time para definir o dia do da realização do backup
import time
data_atual = time.gmtime()
dia = data_atual.tm_mday
mes = data_atual.tm_mon
ano = data_atual.tm_year
data_atual = '{}_{}_{}'.format(dia, mes, ano)

# Criado copia dos dados de cada loja, e armazenado em suas respectivas pastas
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    vendas_loja = vendas.groupby('ID Loja').get_group(loja)
    # vendas_loja = vendas_loja.drop(columns=['ID Loja'])
    nome_loja = lojas['Loja'][loja - 1]
    vendas_excel = vendas_loja.to_excel(f'base_dados/indicadores_lojas/{nome_loja}/relatorio_{data_atual}_{nome_loja}.xlsx')

print('Relarios Salvos')

#### Unificando algumas bases

In [9]:
vendas_df = vendas.merge(lojas, on='ID Loja')
vendas_df = vendas_df.merge(email, on='Loja')

display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja,Gerente,E-mail
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada,Helena,pythonimpressionador+helena@gmail.com
...,...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Estampa,2,96,192,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
100995,69846,2019-12-25,8,Tênis Estampa,5,256,1280,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
100996,69850,2019-12-25,8,Calça Estampa,4,177,708,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
100997,69972,2019-12-26,8,Terno Liso,3,720,2160,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com
100998,69972,2019-12-26,8,Sapato Estampa,5,358,1790,Salvador Shopping,Heloisa,pythonimpressionador+heloisa@gmail.com

#### Indicador 1 Anual (Faturmaento das lojas)

In [10]:
faturamento_anual = vendas_df[['ID Loja', 'Valor Final']]
faturamento_anual = faturamento_anual.groupby(['ID Loja']).sum(['Valor Final'])

display(faturamento_anual)

         Valor Final
ID Loja
1            1699681
2            1590441
3            1711968
4            1674824
5            1663770
6            1640486
7            1722766
8            1646739
9            1698430
10           1682870
11           1707122
12           1586444
13           1631630
14           1726110
15           1721120
16           1649014
17           1668921
18           1624879
19           1731167
20           1721763
21           1648111
22           1635060
23           1678225
24           1762419
25           1653103

#### Indicador 2 Anual (Quantos produtos diferentes foram vedidos)

In [11]:
# Identificando produtos vendidos em cada loja, e removenco os duplicados para contagem de produtos diferente vendidos
qts_prod_loja = []
for loja in range(1, ((len(lojas['Loja'])) + 1)):
    qts_prod_anual = vendas_df[['ID Loja', 'Produto']]
    qts_prod_anual = qts_prod_anual.groupby('ID Loja').get_group(loja)
    qts_prod_anual = qts_prod_anual['Produto']
    qts_prod_anual = pd.unique(qts_prod_anual)
    qts_prod_anual = len(qts_prod_anual)
    qts_prod_loja.append(qts_prod_anual)

qts_prod_lojas = lojas
qts_prod_lojas['Qts. Prod. Ano'] = qts_prod_loja
qts_prod_lojas = qts_prod_lojas[['ID Loja', 'Loja', 'Qts. Prod. Ano']]

display(qts_prod_lojas)

    ID Loja                              Loja  Qts. Prod. Ano
0         1                Iguatemi Esplanada             120
1         2              Shopping Midway Mall             120
2         3                    Norte Shopping             120
3         4       Shopping Iguatemi Fortaleza             120
4         5          Shopping União de Osasco             120
5         6        Shopping Center Interlagos             120
6         7                    Rio Mar Recife             120
7         8                 Salvador Shopping             120
8         9        Rio Mar Shopping Fortaleza             120
9        10  Shopping Center Leste Aricanduva             120
10       11                 Ribeirão Shopping             120
11       12                  Shopping Morumbi             120
12       13         Parque Dom Pedro Shopping             120
13       14               Bourbon Shopping SP             120
14       15       Palladium Shopping Curitiba             120
15       16         Passei das Águas Shopping             120
16       17        Center Shopping Uberlândia             120
17       18                   Shopping Recife             120
18       19               Shopping Vila Velha             120
19       20                Shopping SP Market             120
20       21                 Shopping Eldorado             120
21       22               Shopping Ibirapuera             120
22       23      Novo Shopping Ribeirão Preto             120
23       24                 Iguatemi Campinas             120
24       25                    Shopping Barra             120